* {
	box-sizing: border-box;
}

body {
	background-color: #F6F6F6;
	color: #1e2133;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

/*Navigation*/
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
}

#nav-toggle {
	display: none;
}

#button {
	position: absolute;
	top: 30px;
	right: 20px;
	display: none;
}

.bars {
	width: 25px;
	height: 4px;
	background-color: #1e2133;
	border-radius: 10px;
	margin-bottom: 4px;
}

#navbar header {
	background-color: #FFB95D;
	font-size: 1.8rem;
	line-height: 120px;
	height: 120px;
	font-weight: 700;
	color: black;
	text-align: center;
	box-shadow: 2px 0px 15px #ce8320;
}

#nav-list {
	background-color: #FFB95D;
	z-index: -1;
	width: 100%;
	height: calc(100% - 120px);
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 0px 15px #ce8320;
}

.border:not(:last-of-type) {
	width: 100%;
	height: 0;
	border: 1px solid black;
}

.nav-link {
	text-decoration: none;
	font-weight: 600;
	color: black;
	font-size: 1.4rem;
	padding: 10px;
	border-radius: 5px;
}

.nav-link:hover {
	background-color: #ffa52e;
}


#main-doc {
	width: calc(100% - 300px);
	position: relative;
	left: 300px;
	padding: 30px;
	padding-top: 0;
}

.buffer {
	height: 30px;
}

#main-doc header {
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 40px;
}

#Introduction a {
	color: #0aac53;
	font-weight: 600;
}

figure {
	width: min(90%, 600px);
	margin: auto;
}

img {
	width: 100%;
}

figcaption {
	text-align: center;
}

p {
	margin-top: 0;
	padding-left: 20px;
}

.code-group {
	margin: 50px 0;
}

.code-example {
	width: 90%;
	margin: auto;
	color: #F6F6F6;
	background-color: #262A33;
	border-radius: 3px;
	padding: 15px;
}

code {
	display: block;
}

#main-doc li{
	margin: 10px 25px;
	width: 100px;
}

#Solid {
	border-right: 2px solid;
}

#Double {
	border-right: 4px double;
}

#Dashed {
	border-right: 2px dashed;
}

#Dotted {
	border-right: 2px dotted;
}

#Flexbox p {
	margin-bottom: 25px;
}

@media (max-width: 800px){
	#navbar {
		width: 100%;
		height: 400px;
		z-index: 2;
	}

	#navbar header {
		height: 80px;
		line-height: 80px;
	}

	#button {
		display: block;
	}

	#button:hover {
		cursor: pointer;
	}

	#nav-list{
		height: calc(100% - 80px);
		position: relative;
		top: -100%;
		transition: top 0.5s;
	}

	#nav-toggle:checked ~ #nav-list{
		top: 0;
	}

	.nav-link{
		padding: 5px;
	}

	#main-doc {
		width: 100%;
		left: 0;
	}

	.buffer {
		height: 100px;
	}

	.main-section:not(:last-of-type) {
		margin-bottom: -70px;
	}
}