* {
	box-sizing: border-box;
}

body {
	background-color: #F6F6F6;
	color: #1e2133;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

/*Navigation*/
#navbar {
	background-color: #FFB95D;
	position: fixed;
	width: 300px;
	height: 100%;
}

#navbar header {
	font-size: 1.8rem;
	line-height: 120px;
	height: 120px;
	font-weight: 700;
	color: black;
	text-align: center;
}

#nav-list {
	width: 100%;
	height: calc(100% - 120px);
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.border:not(:last-of-type) {
	width: 100%;
	height: 0;
	border: 1px solid black;
}

.nav-link {
	text-decoration: none;
	font-weight: 600;
	color: black;
	font-size: 1.3rem;
}

main {
	width: calc(100% - 300px);
	position: relative;
	left: 300px;

}

figure {
	width: min(90%, 600px);
	margin: auto;
}

img {
	width: 100%;
}

figcaption {
	text-align: center;
}
/*
Theme:
#20304F
#C89E85
#FFB95D
#F6F6F6
*/